<div class="container mt-5">

    <div class="form-group">
        <input type="text" class="form-control" placeholder="{{ 'users.input.placeholder' | translate }}"
            [(ngModel)]="filterTerm">
    </div>

    <div *ngIf="users">
        <div class="container" *ngFor="let user of users  | filter:filterTerm">
            <section class="mx-auto my-5" style="max-width: 70%;">
                <div class="card">
                    <div class="card-body">
                        <img class="card-title" src="{{ user.picture }}" alt="user">
                        <p></p>
                        <div class="d-flex justify-content-between mb-4">
                            <p><i class="fas fa-skull fa-lg text-info pe-2"></i>{{ 'user.title' | translate }}</p>
                            <p><i class="fas fa-ring fa-lg text-warning pe-2"></i>{{ user.title }}</p>
                        </div>
                        <div class="d-flex justify-content-between mb-4" style="margin-top: -25px">
                            <p><i class="fas fa-skull fa-lg text-info pe-2"></i>{{ 'user.firstName' | translate }}</p>
                            <p><i class="fas fa-ring fa-lg text-warning pe-2"></i>{{ user.firstName }}</p>
                        </div>
                        <div class="d-flex justify-content-between mb-4" style="margin-top: -25px">
                            <p><i class="fas fa-mercury fa-lg text-info pe-2"></i>{{ 'user.lastName' | translate }}</p>
                            <p><i class="fas fa-ring fa-lg text-warning pe-2"></i>{{ user.lastName }}</p>
                        </div>
                        <hr />
                        <a class="btn btn-link link-info p-md-1 my-1"
                            [routerLink]="['../features/', user.id, user.firstName + '_' + user.lastName]">
                            {{ 'users.userInfo' | translate }}
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"></div>